.Navbar {
  background: linear-gradient(#fff, #fff);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;

  .logo {
    font-size: 2em;

    a { text-decoration: none; }

    .logout {
      color: #222;
      font-size: 0.35em !important;
      margin-left: 8px;
      vertical-align: middle;
    }

    .title {
      align-self: center;
      margin-left: -5%;
    }

    .errorBackButton {
      background: none;
      border: none;
      font-size: 1em;
    }

    .like {
      align-self: center;
      font-family: Helvetica;
      font-size: 0.85em;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 13px;
      text-shadow: 1px 1px 1px #666;
      width: 50px;
    }
  }

  .edit {
    background: transparent;
    border: none;
    color: #753622;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    transform: rotate(90deg);

    &:hover {
      font-size: 1.4em;
      text-shadow: 1px 1px 3px #9f4a2ed5;
    }
  }
}
