.Navbar {
  background: linear-gradient(#eee, #ccc, #eee);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;

  .logo {
    font-size: 2em;

    a { text-decoration: none; }

    .logout {
      font-size: 0.35em !important;
      margin-left: 8px;
      vertical-align: middle;
    }

    .errorBackButton {
      background: none;
      border: none;
      font-size: 1em;
    }
  }

  .edit {
    background: transparent;
    border: none;
    color: #753622;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    transform: rotate(90deg);

    &:hover {
      font-size: 1.4em;
      text-shadow: 1px 1px 3px #9f4a2ed5;
    }
  }
}
