@import 'styles/_home.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  background: linear-gradient(#fffa, #fffa), url(https://picsum.photos/id/431/600/800) center no-repeat;
  border: 1px solid #ccc;
  max-width: 600px;
  max-height: 800px;
  min-height: 85vh;
  min-width: 400px;
}
