* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  min-height: 85vh;
  border: 1px solid #ccc;
}

.Navbar {
  background: linear-gradient(#eee, #ccc, #eee);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;

  .logo {
    font-size: 2em;

    a { text-decoration: none; }

    .logout {
      font-size: 0.35em !important;
      margin-left: 8px;
      vertical-align: middle;
    }

    .errorBackButton {
      background: none;
      border: none;
      font-size: 1em;
    }
  }
}

.loader {
  min-height: 100px;
  display: grid;
  place-items: center;

  svg.tea {
    --secondary: #33406f;
  }

  svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
  }

  svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
  }

  svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
  }

  @-moz-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }

  @-webkit-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }

  @-o-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }

  @keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }

  @-moz-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }

    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }

  @-webkit-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }

    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }

  @-o-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }

    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }

  @keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }

    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }

  @-moz-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }

    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }

    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }

  @-webkit-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }

    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }

    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }

  @-o-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }

    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }

    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }

  @keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }

    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }

    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }

  .ld-text-container {
    color: #33406f;
    font-family: 'G ill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;

    .loader--text {
      display: inline-block;
      margin-left: -12px;
    }

    .txt-dots {
      &::after {
        content: "";
        font-weight: bold;
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        position: absolute;
      }
    }

    @keyframes loading-text {
      0% { content: ""; }
      25% { content: "."; }
      50% { content: ".."; }
      75% { content: "..."; }
    }
  }
}

.section {
  padding-top: 100px;

  h2 { padding-bottom: 30px; }
}
